<footer class="site-footer text-center">
  <p>Chameleon is funded by a grant from the National Science Foundation.</p>
  <p class="text-center"><span style="padding-right:1.5em;"><a style="color: gray;"
        href="https://chameleoncloud.org/about/chameleon">About</a></span>
    <span style="padding-right:1.5em;"><a style="color: gray;"
        href="https://chameleoncloud.org/about/contact-us/">Contact Us</a></span>
    <span><a style="color: gray;" href="https://chameleoncloud.org/user/help/ticket/new/guest/">Help Desk</a></span>
  </p>
</footer>