<header class="site-header">
  <div class="container">
    <nav class="navbar navbar-chameleon">
      <div class="navbar-header">
        <a class="navbar-brand" href="https://chameleoncloud.org">
          <img height="60" width="206" src="https://chameleoncloud.org/static/images/logo.png" alt="Chameleon">
          <span class="sr-only"></span>
        </a>
      </div>
      <div><a href="https://chameleoncloud.org/about/chameleon">About</a></div>
      <div><a href="/">Blog</a></div>
      <div><a href="https://chameleoncloud.org/user/help/ticket/new/guest/">Help Desk</a></div>
    </nav>
  </div>
</header>